PyQt6
pdf2image
Pillow
opencv-python
pandas
pytesseract
pymupdf
reportlab
pymupdf
requests
#opencv ja ta incluso no opencv-python
openpyxl
PyPDF2
cryptography
PyJWT
sqlmodel
pyinstaller
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2